%h3 Notes
%hr

%table
  - for note in @notes
    %tr
      %td= note.title
      %td= Time.at(note.published_date).strftime("%d %b %Y")
      %td!= note.content
      %td= note.tags.collect { |t| t.name }.join(', ')

