
%h3 Turn Google Reader's exported JSON back into useable links
%p
  You can use this website to upload exported JSON files in order to turn your information back into an HTML format you can use.

%h3
  = link_to "Make a new Upload now!", :controller => 'uploads', :action => 'new'
