html
  height: 100%

body
  height: 100%
  width: 960px
  margin: 0px auto
  padding: 0px 20px
  font-family: 'Cardo', sans-serif

  h1
    //font-family: 'Allan'
    font-size: 350%
    text-align: center
    margin: 20px 0
  h2
    //font-family: 'Allan'
    font-style: italic
    font-size: 150%
    text-align: center
    margin: 10px 0

nav
  a
    font-size: 150%
    text-align: center
    float: left
    width: 230px
    color: #000
    text-decoration: none
    padding: 10px 5px
    &:hover
      background-color: #ddd

section
  clear: both
