.note
  clear: both
  margin-bottom: 2em

.note-date
  float: left
  font-size: 0.8em
  padding-top: 5px
  margin-right: 5px
h4
  font-weight: bold
  float: left
  font-size: 1.2em
  margin-bottom: 1em
.note-content
  font-family: 'Ubuntu', Arial
  clear: both
  margin-left: 2em
  background-color: #f6f6ef
  padding: 10px
  margin: 10px
.note-tags
  clear: both
  a
    padding: 5px
    margin: 5px
    float: left
    border: 1px solid #000
