<!DOCTYPE html>
<html>
<head>
  <title>ReaderRecovery</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Reader Recovery</h1>

<%= yield %>

</body>
</html>
